---

---
@font-face {
    font-family: 'Rushing Nightshade';
    src: url('font/rushing-nightshade.woff2') format('woff2'),
         url('font/rushing-nightshade.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$black: #000;
$title-section: #3b3c3b;
$text: #4F4E4D;
$font: 'Raleway', Arial, sans-serif;
$title: 'Rushing Nightshade';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{display:flex; flex-direction: column; height: 100vh; background: #fff;font-family:$font; color:$text;display: flex; flex-direction: column;}
h1,h2,h3,h4, p.sub, p.important{
  font-family:$font;
  color: $black;
  margin-top: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
h2{font-size: 3.5em; position: relative; bottom: 20px;}
h2{
    visibility: hidden;
    animation: h2appear 0.8s cubic-bezier(0,1,.65,1.15) 0.5s forwards;
  }
a:hover{text-decoration: none;}
a.movelink{
    font-size: 1.7em;
    font-weight: 300;
    padding: 0.2em 0.5em;
    color: #fff;
    font-family: $title;
    position:relative;
    right: 0px;
    animation: h2appear 0.8s cubic-bezier(0,1,.65,1.15) 0.5s forwards;
    visibility: hidden;
    transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
  }
.margin{margin: 2em 0}

.carousel-item{height: 600px;}
.endobujo a.movelink:hover{color: #E3E3E3; background-color: #441151;}
.focal a.movelink:hover{color: #E3E3E3; background-color: #99CFDD;}
.endonymous a.movelink:hover{color: #E3E3E3; background-color: #E2BD81;}
.datato a.movelink:hover{color: #000; background-color: #E3E3E3;}
.illustrations a.movelink:hover{color: #E3E3E3; background-color: #53BFD0;}
.m-t a.movelink:hover{color: #E3E3E3; background-color: #DC493A;}

a.projets{
  font-size: 2.5em;
  font-weight: 300;
  padding: 0.2em 0.5em;
  color: #fff;
  font-family: $title;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 1.5s;
  &:hover{margin-left: 3px;}
}

a{color: $black; font-family: $font; font-size: 1.5em; font-weight: 600;}
/*a:hover{text-decoration: none;color:$black;}*/
span.link i, span.link a{display: inline-block;color:$title-section;font-size: 1.2em;padding-right: 10px;margin-top: 0.5em;}
span.link i:first-child{padding-right: 5px;}
span.link a{font-weight: 500;}
span.link i,span.link a, a.anim{position: relative;}
span.link a i:hover,span.link a:hover,a.anim:hover{
  text-decoration: none;
  animation: hover 0.1s cubic-bezier(0,1,.65,1.15) 0s forwards;
}

.colum{display: flex;flex-direction: column;}

.bg-light{background-color: #FAFAFA;}
.items{justify-content: center;}

a.display:hover{
  opacity: 1;
  animation-name: portfolio;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  background-color: #AD310B;
}
.text p{font-size: 1.2em;font-weight: 400;}
h3, h4, p.sub{
  font-weight: 600;
  letter-spacing: 0.15em;
}
h3{
  font-size: 1em;
  margin-top: 1em;
}
h4{
  font-size: 1.3em;
}
.navbar-brand{display: block; margin:0 auto; img{width: 200px;}}
nav{margin-bottom: 1.5em;}
.navbar-light .navbar-nav .nav-link, .dropdown-item{
  font-family: $font;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 0.07em;
  margin-right:1em;
}
.navbar-collapse{justify-content: center;}
.carousel{margin: 2em 0;}
.carousel-item{
  h2{margin-top: 1.2em;}
  p{font-size: 1.5em;font-weight: 300;}
  p.sub{font-weight: 600;font-size: 1.2em;}
}
.carousel-indicators{bottom: -60px;}
.carousel-indicators li{background-color: #eee;}
.carousel-indicators .active{background-color: #000;}
.carousel-control-prev{left: -130px;}
.carousel-control-prev-icon{background-image: url('/img/before.svg');}
.carousel-control-next{right: -90px;}
.carousel-control-next-icon{background-image: url('/img/after.svg');}

.img-presentation{
  z-index: 2;
  visibility: hidden;
  width: 0px;
  animation: imgappear 0.8s cubic-bezier(0,1,.65,1) 0.5s forwards;
}
.portfolio img{visibility: hidden; animation:imgappear 0.8s cubic-bezier(0,1,.65,1) 0.5s forwards;}
.absolute{position: absolute;z-index: 2; right: 0;bottom: 0;}
.behind{display:block; width:0px; height: 0px; position: absolute; right: 45px; z-index: 1;bottom: 0;}
.endobujo{h2,h4,a{color: #441151;}.behind,.socle{background-color: #441151;}}
.focal{h2,h4,a{color: #99CFDD;}.behind,.socle{background-color: #99CFDD;}}
.endonymous{h2,h4,a{color: #E2BD81;}.behind,.socle{background-color: #E2BD81;}}
.datato{h2,h4,a{color: #000;}.behind,.socle{background-color: #E3E3E3;}}
.illustrations{h2,h4,a{color: #53BFD0;}.behind,.socle{background-color: #53BFD0;}}
.m-t{h2,h4,a{color: #DC493A;}.behind,.socle{background-color: #DC493A;}}

.behind{
  animation: blockappear 0.8s cubic-bezier(0,1,.65,1) 0.5s forwards;
}
.socle{display: block; width: 90%; height: 80px; position: absolute; bottom: 0px; z-index: -1;}

p.nice{font-family: $title;color: $black;font-size: 1.8em;transform: rotate(-5deg);}
.photo{
  visibility: hidden;
  animation: h2appear 0.8s cubic-bezier(0,1,.65,1.15) 0.5s forwards;
}
.padding{padding-top: 2em;}
footer{clear: both;margin-bottom: 1em; margin-top: auto;}

footer p{
  font-family: Roboto, arial, sans-serif;
  font-weight:300;
  line-height:1.9em;
  font-size: 1em;
  letter-spacing: 0.3em;
}

/*Video*/
video::-webkit-media-controls-fullscreen-button{
    display: none;
}

video::-ms-media-controls-fullscreen-button{
    display: none;
}

video::-moz-media-controls-fullscreen-button{
    display: none;
}

.center-vid{text-align: center; width: 60%; margin: 0 auto;}

.bg{
  min-height: 400px;
  margin-bottom: 2em;
}

.bg .txt{
  min-height: auto;
  background-color: white;
  position: absolute;
  top: 100px;
  padding: 3em;
  box-shadow: 12px -11px #52BFD0;
  width: 40%;
}

.left{left: -50px;}
.right{right: -50px;}

.bg p{
  line-height: 2.2em;
  margin-top: 1em;
  font-size: 1.1em;
}

.prev{
  div:nth-child(2n){text-align: center;}
  div:last-child{text-align: right;}
  margin: 2em 0;
  a{font-weight: 300;color: $text;}
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

@keyframes hover{
  0%   {bottom: 0;}
  100% {bottom: 1%;}
}

@keyframes blockappear{
  0%    {width: 0px; height: 0px;}
  100%  {width: 250px; height: 500px;}
}

@keyframes imgappear{
  0%    {width: 0px; visibility: hidden;}
  100%  {width: 100%; visibility: visible;}
}

@keyframes h2appear{
  0%    {transform: translateX(-200px); visibility: hidden;}
  100%  {transform: translateX(0px); visibility:visible;}
}

@media (max-width: 1199px) and (min-width: 991px) {
  span.link i, span.link a{
    font-size: 1em;
    padding-right:5px;
  }

}
@media (max-width: 991px) {
  .absolute{
    position: inherit;
  }
  .carousel-control-prev{left: -70px;}
  .carousel-control-next{right: -50px;}
  .carousel-item h2{margin-top: 0.7em;}
  .behind{height: 20px;}
  .img-presentation{visibility: visible;}
  @keyframes blockappear{
   0%    {width: 0px; height: 0px;}
   100%  {width: 500px; height: 200px;}
  }
}

@media (max-width: 600px) {
  .carousel-control-prev{left: 0px;bottom: auto;}
  .carousel-control-next{right: 0px; bottom: auto;}
  .prev{display: none;}
  a.projets{font-size: 1.8em;padding: 0;}
  h2{font-size: 2.5em;;}
  .carousel-item{height: 800px;}
}

@media (max-width: 480px) {
  .behind, .img-presentation{display: none !important;}
  h2{font-size: 1.5em;margin-top: 1em;;}
  .carousel-item h2{margin-top: 1.5em;}
}