---
---

/*Focal*/
/*.focal img{
  width: 100%;
}*/

/*Fabulous*/
.fabulous{background-color: #1D1D28;}
.fabulous img{
  width: 100%;
}

.fabulous img.little{
  width: 60%;
}

/*Datatopia*/
@font-face {
    font-family: 'avenirheavy';
    src: url('font/aeh-webfont.woff2') format('woff2'),
         url('font/aeh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avarabold';
    src: url('font/avara-webfont.woff2') format('woff2'),
         url('font/avara-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.datatopia-full{
  background-color: black;
  padding: 0;
  color: white;
  font-family: 'avenirheavy';
  font-size: 1.3em;
  img{
  margin: 0 auto;
  margin-top:2em;
  margin-bottom: 1em;
  }
  img.little{width:30%;}
  h2{
  font-family: 'avarabold';
  font-size: 3em;
  }
  h3{
  font-family: 'avenirheavy';
  font-size: 0.8em;
  margin: 2em 0 2em 0;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  text-align: left;
  color: #eee;
  }
  p{
  margin: 1em 0 2em 0;
  line-height: 1.2em;
  }
  a{
  color: white;
  margin-bottom: 2em;
  }
  .story p{
  padding-left: 1em;
  }
  .avara{margin-bottom: 2em;}
  span{
    font-size: 1.5em;
  }
  .normal{
    margin-bottom: 2em;
    span{font-size: 1em;display: inline-block;}
  }
}
