/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Fin du reset*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{background: #fff;font-family: Roboto, arial, sans-serif; color:#3b3c3b;}
section {padding: 1em;}
.demo-2 { background: #fff; }

h1,h2,h3,h4, a{font-family:'Roboto',sans-serif;}

h1{font-weight: 900;font-size: 1.6em;color: #fed136;}
h2{font-size: 1.2em;font-weight: 300;}
h3{font-size: 1.5em;text-transform: uppercase;font-weight:700; letter-spacing: 0.4em;}
h4{font-size: 1.1em;text-transform: uppercase; font-weight: 400;}

span.link i, span.link a{display: inline-block;color:#fed136;font-size: 1.1em;padding-right: 10px;}
/*span.link p{display: inline-block;color:#fed136;font-size:0.9em; padding: 0 0 0 5px;}*/
span.link i:first-child{padding-right: 5px;}
span.link a{font-weight: 500;}

span.link i,span.link a{transition: color 0.2s;}
span.link a i:hover,span.link a:hover{color:#be2f3f; text-decoration: none;}
.cv-button div{transition: background-color 0.2s;}
.cv-button div:hover{background-color:#fed136;}

.presentation{
  margin-bottom: 2em;
  background-image: url("/img/pres.png");
  background-size: 80%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.portfolio{
	position: relative;
	overflow: hidden;
	max-width: 100%;
	margin-bottom: 2em;
  opacity: 0.6;
}

.portfolio .twoimg{
	margin-bottom: 0;
	padding: 0;
}

.overlay {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transition: .5s ease;
  width: 100%;
  height: 40px;
  background-color: #fed136;
}

.overlay p{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
  padding-top: 10px;
  letter-spacing: 5px;
  font-size: 1.2em;
}

.portfolio img {
  max-width: 100%;
  
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
/*  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);*/
}

.portfolio:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
/*  filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;*/
}

.portfolio:hover{
  opacity: 1;
}

.portfolio:hover .overlay {
  opacity: 1;
}

.text {
  color: #fed136;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pres{margin-bottom: 1.5em;}

.pres p{
  font-family: Roboto, arial, sans-serif;
  font-weight:300;
  line-height:1.9em;
  font-size: 1.1em;
  width: 100%;
  padding-left: 0.7em;
  }

  span.talk{
    text-align: left;
    float: left;
    color: #fed136;
    padding: 0.4em 1em 0 0;
  }

.skills{
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  line-height: 3em;
  margin-bottom: 2em;
}

.skills ul{
  margin: 0 auto;
}

.skills li{
  margin: 0 2em 0 2em;
}

.skills img{
  width: 3em;
  display: block;
  margin: 0 auto;
}

.cv-button{
  margin: 0 1em 2em 0;
}

.cv-button div{
  width: 8em;
  display: inline-block;
  background-color:#fed136;
  padding: 0.5em;
}

.cv-button a{
  border:none;
  color:white;
  font-weight: 500;
}

.cv-button a:hover{
  text-decoration: none;
}

ul li{
  display: inline-block;
}

/*Projets*/

.logo img{width: 120px;text-align: center;padding-bottom: 7em;}

.prev{
  font-size: 0.8em;
  text-align: center;
  left: 50%;
}

.prev.one{padding-bottom: 4em;}
.prev.two{padding-top: 4em;}

.prev a{
  font-family: Roboto, arial, sans-serif;
  font-weight:300;
  line-height:1.9em;
  letter-spacing: 0.3em;
  text-decoration: none;
  color:#3b3c3b;
}

.prev a:hover, .prev a:hover{
  color:#fed136;
}

.prev i:first-child{margin-right: 0.5em;}

.title{
  padding: 1em 0 3em 0;
}

.title p{
  padding-top:1em;
  font-weight: 300;
  font-size: 0.9em;
  font-style: italic;
}

.expl{padding-bottom: 0.2em;}
.expl p{
  font-family: Roboto, arial, sans-serif;
  font-weight:300;
  line-height:1.9em;
  font-size: 1.1em;
  text-align: left;
  width: 100%;
  padding-left: 0.7em;
  padding-bottom: 1em;
  }

.expl span.sub{
  font-weight: 400;
  text-align: left;
  line-height:1.9em;
  font-size: 0.9em;
}

.expl p a{
  font-weight: 400;
  text-align: left;
  line-height:1.9em;
  font-size: 1em;
  color:#3b3c3b;
}

.expl p a:hover{color:#fed136;}

.detail{
  font-family: Roboto, arial, sans-serif;
  font-weight:300;
  line-height:1.9em;
  font-size: 0.75em;
  text-align: center;
  width: 100%;
  padding-top: 0.5em;
  }

/*  .more{
    border:none;
    color:white;
    font-weight: 500;
    width: 8em;
    background-color:#fed136;
    padding: 0.5em;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .imhiding{display: none;}
  .more:focus ~ .imhiding{display: block; margin: 0 auto;}*/

footer{clear: both;margin-bottom: 1em;}

footer p{
  font-family: Roboto, arial, sans-serif;
  font-weight:300;
  line-height:1.9em;
  font-size: 1em;
  letter-spacing: 0.3em;
}

/*Video*/
video::-webkit-media-controls-fullscreen-button{
    display: none;
}

video::-ms-media-controls-fullscreen-button{
    display: none;
}

video::-moz-media-controls-fullscreen-button{
    display: none;
}

.center-vid{margin: 1.5em; text-align: center;}
.vid{width: 60%;}

.carousel-control-next-icon{
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fed136' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fed136' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

@media (max-width:1200px){
  .skills li{
  margin: 0 1em 0 1em;
  }

  .skills img{
  width: 2em;
  }
}

@media (max-width:991px){
  .vid{float: none;}
  .center-vid{text-align: center;}
}

@media (max-width:650px){
  .prev{
  font-size: 0.6em;
  padding-right: 0;
  padding-left: 0;
  }

  .title p{
    width: 90%;
    margin: 0 auto;
  }

  .overlay p{
    font-size: 1em;
  }
}

@media (max-width:450px){
  .prev{
  font-size: 0.55em;
  padding-right: 0;
  padding-left: 0;
  }

  span.link a{padding-right: 4px}
  span.link a:nth-child(2),span.link a:nth-child(3){font-size: 0.9em;}
  span.link i{padding-right: 4px}
  span.link i:first-child{font-size: 1em;}
 }