  <footer class="container-fluid text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-12">
        <hr>
        <div class="row">
          <div class="col-lg-4">
            <span class="link">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <a target="_blank" href="img/izzdesign-eng.pdf">
                <svg x="0px" y="0px" width="35px" height="18.483px" viewBox="8 0 20 18.483">
                <text transform="matrix(1 0 0 1 0 17.4834)" fill="#FFD136" font-family="Roboto" font-size="15">ENG</text>
              </a>
              <a target="_blank" href="img/izzdesign-fr.pdf">
                <svg x="0px" y="0px" width="30px" height="18.483px" viewBox="5 0 20 18.483" enable-background="new 0 0 42.667 18.483" xml:space="preserve">
                <text transform="matrix(1 0 0 1 0 17.4834)" fill="#FFD136" font-family="Roboto" font-size="15">FR</text>
              </a>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <a target="_blank" href="https://www.linkedin.com/in/isabelle-dulin-a505b88a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </span>
            <p>Check my cv and linkedIn</p>
          </div>
          <div class="col-lg-4">
            <span class="link">
              <a target="_blank" href="https://www.behance.net/contacte71c"><i class="fa fa-behance" aria-hidden="true"></i></a>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <a target="_blank" href="https://twitter.com/Izz_Design"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </span>
            <p>Check my behance and twitter</p>
          </div>
          <div class="col-lg-4">
            <span class="link">
              <a href="mailto:contact@izzdesign.fr"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </span>
            <p>Contact me</p>
          </div>
        </div>
      </div>
    </div>
  </footer>