<div class="col-lg-4 col-md-8 offset-lg-7 text-left">
  <h1>IzzDesign</h1>
  <h2>Graphiste Designer | Graphic Designer</h2>
  <span class="link">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
      <a target="_blank" href="/img/izzdesign-webeng.pdf">ENG</a>
      <a target="_blank" href="/img/izzdesign-webfr.pdf">FR</a>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <a target="_blank" href="mailto:contact@izzdesign.fr"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <a target="_blank" href="https://www.linkedin.com/in/isabelle-dulin-izzdesign/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <a target="_blank" href="https://www.behance.net/izzdesign"><i class="fa fa-behance" aria-hidden="true"></i></a>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <a target="_blank" href="https://twitter.com/Izz_Design"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  </span>
  <hr>
</div>