<div class="col-lg-4 col-md-12 offset-lg-6 text-left">
  <h1>IzzDesign</h1>
  <h2 class="sub">Graphiste, Webdesigner, Illustratrice</h2>
  <span class="link">
    <a target="_blank" href="mailto:contact@izzdesign.fr"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <a target="_blank" href="https://www.linkedin.com/in/isabelle-dulin-izzdesign/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <a target="_blank" href="https://www.behance.net/izzdesign"><i class="fa fa-behance" aria-hidden="true"></i></a>
    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    <a target="_blank" href="https://twitter.com/Izz_Design"><i class="fa fa-instagram"></i></a>
  </span>
  <hr>
</div>
