---
layout: portfolio
title: Apicil
---
  {% include previous-next.html previous="grdf.html" next="ciss.html" padding="one" %}
 
  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row text-center">
        <div class="col-lg-12 col-xs-12 title">
          <h3>Apicil</h3>
          <p>Création de vidéo et Design de la nouvelle newsletter Apicil.</p>
          <p>Video creation and design of Apicil newsletter.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Apicil est un groupe de protection sociale. Dans une volonté de communiquer sur l'utilisation des nouvelles technologies (réalité virtuelle) dans le groupe Apicil, Conversationnel a créé une vidéo en motion design: La Force de Vente Augmentée. J'ai également travaillé sur le nouveau design de la Newsletter Apicil dont le contenu a été mieux pensé et le design modernisé.</p>
          </div>
          <div class="detail">
            <p>Date: Mars 2016 - Avril 2016</p>
            <p>Client: Apicil</p>
            <p>Catégorie: Newsletter, Vidéo Motion</p>
            <p>Prestataire: Conversationnel</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Apicil is a french mutual fund. To communicate about the use of new technologies (virtual reality) in the firm, Apicil asked the agency Conversationnel to create a motion design video: The Augmented Sales Force. I also worked on the new design of the Apicil newsletter whose content have been better organised, developed and modernized.</p>
          </div>
          <div class="detail">
            <p>Date: Mars 2016 - April 2016</p>
            <p>Client: Apicil</p>
            <p>Category: Newsletter, Vidéo Motion</p>
            <p>Agency: Conversationnel</p>
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <a href="https://www.youtube.com/watch?v=aBSTx8IDZS0" target="_blank" alt="Vidéo Apicil La force de vente augmentée"><img class="img-fluid" src="../img/projets/apicil/apicil_youtube.jpg"></a>
          <img class="img-fluid" src="../img/projets/apicil/apicil_newsletter.jpg">
        </div>
      </div>
    </div>
  </div>

  {% include previous-next.html previous="grdf.html" next="ciss.html" padding="two" %}