---
layout: portfolio
title: CCI
---
  {% include previous-next.html previous="ciss.html" next="datatopia.html" padding="one" %}

  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row text-center">
        <div class="col-lg-12 col-xs-12 title">
          <h3>CCI Île-de-France</h3>
          <p>Création de brand content pour illustrer des articles de la CCI.</p>
          <p>Brand content creation to illustrate some chamber of commerce articles.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>CCI d'Île-de-France (Chambre du Commerce et de l’Industrie) a demandé à Conversationnel de développer un site web présentant l’histoire et le témoignage d’un entrepreneur par mois. Pour donner de la visibilité à ce site, Conversationnel a créé du contenu LinkedIn et Facebook.</p>
          </div>
          <div class="detail">
            <p>Date: Mars 2016</p>
            <p>Client: CCI</p>
            <p>Catégorie: Brand Content Facebook, Linkedin</p>
            <p>Prestataire: Conversationnel</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>The Île-de-France Chamber of commerce asked at Conversationnel to develop a website showing each month the biography of an entrepreneur. To showcase this website, Conversationnel made some LinkedIn and Facebook content.</p>
          </div>
          <div class="detail">
            <p>Date: Mars 2016</p>
            <p>Client: CCI</p>
            <p>Category: Brand Content Facebook, Linkedin</p>
            <p>Agency: Conversationnel</p>
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <img class="img-fluid" src="../img/projets/cci/cci.jpg">
        </div>
      </div>
    </div>
  </div>

  {% include previous-next.html previous="ciss.html" next="datatopia.html" padding="two" %}