---
layout: portfolio
title: CISS
---
  {% include previous-next.html previous="apicil.html" next="datatopia.html" padding="one" prev-title="Apicil" next-title="Datatopia" %}

  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row text-center">
        <div class="col-lg-12 col-xs-12 title">
          <h3>CISS 66 millions d'impatients</h3>
          <p>Création de contenus Facebook, Twitter pour l’association 66 millions d’IMpatients.</p>
          <p>Creating Facebook and Twitter brand content for the CISS association.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>CISS (ou 66 millions d’IMpatients) est un collectif interassociatif sur la santé, mis en place pour représenter tous les usagers du système de santé et pour oeuvrer à un accès pour tous à des soins de qualité. Conversationnel a travaillé sur le site internet du CISS ainsi qu’à du contenu Facebook et Twitter illustrant les différents articles sur le site internet et les réseaux sociaux.</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>CISS is a federation of associations about health, representing every French healthcare user and providing access to medical care for everyone. Conversationnel worked on the CISS website and on Facebook and Twitter brand content to illustrate most of the articles published on the website and social media.</p>
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <img class="img-fluid" src="../img/projets/ciss/ciss.jpg">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="detail">
            Date: Octobre 2015 - Janvier 2016
            Client: Ciss
            Catégorie: Brand Content Facebook et Twitter
            Prestataire: Conversationnel
          </div>
          <div class="detail">
            Date: October 2015 - January 2016
            Client: CISS
            Category: Brand Content Facebook and Twitter
            Agency: Conversationnel
          </div>
        </div>
      </div>

    </div>
  </div>

  {% include previous-next.html previous="apicil.html" next="datatopia.html" padding="two" prev-title="Apicil" next-title="Datatopia" %}
