---
layout: portfolio
title: Creations
---
  {% include previous-next.html previous="datatopia.html" next="photography.html" padding="one" prev-title="Datatopia" next-title="Photography" %}
    <div class="row content">
      <div class="col-lg-8 offset-lg-2">
        <div class="row text-center">
          <div class="col-lg-12 col-xs-12 title">
            <h3>Creations</h3>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-lg-4">
            <img src="/img/projets/creation/artvsartist.jpg">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/saint-val.png">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/girl4.jpg">
          </div>
        </div>
        <div class="row margin">
          <div class="col-lg-4">
            <img src="/img/projets/creation/girl1.jpg">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/girl2.jpg">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/girl3.jpg">
          </div>
        </div>
        <div class="row margin">
          <div class="col-lg-4">
            <img src="/img/projets/creation/musichead.png">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/hoodies.jpg">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/pin-vector.jpg">
          </div>
        </div>
        <div class="row margin">
          <div class="col-lg-4">
            <img src="/img/projets/creation/whale.png">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/baseball.png">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/runbreathe.png">
          </div>
        </div>
        <div class="row text-center margin">
          <div class="col-lg-4">
            <img src="/img/projets/creation/happen.jpg">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/discovery.jpg">
          </div>
          <div class="col-lg-4">
            <img src="/img/projets/creation/city-girl.jpg">
          </div>
        </div>
      </div>
    </div>

  {% include previous-next.html previous="datatopia.html" next="photography.html" padding="two" prev-title="Datatopia" next-title="Photography" %}
