---
layout: projet
title: Datatopia
---
{% include previous-next.html previous="fabulous.html" next="focal.html" padding="one" prev-title="Fabulous" next-title="Focal" %}

  <div class="row content">
    <div class="col-lg-6 offset-lg-3 col-md-12 datatopia">
      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <img class="img-fluid" src="../img/projets/datatopia/datatopia.gif">
        </div>
      </div>

      <div class="row story">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12">
          <h3>History</h3>
          <p>Datatopia 3.0 developed by Château Fort Fort agency is an art research project based on error and randomness.</p>
          <p>The idea started by a random picture found on the web, and brought his creator to randomly realize 3 forms of creation: a nagging melody, a 3D maze and a tangible object.</p>
          <p>Those creative steps set up a fourth form of creation: a virtual exhibition website about this project.</p>
        </div>
        <img class="img-fluid" src="../img/projets/datatopia/gif.gif">
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12">
          <img class="img-fluid" src="../img/projets/datatopia/datatopia5.png">
        </div>
      </div>

      <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-xs-12">
          <h3>Typography</h3>
          <span class="avara">Avara</span><span>Avenir</span>
          <h3>Video</h3>
          <p>Showcase Datatopia video project (mp4 960*540px 3’’30)</p>
          <h3>Sound</h3>
          <p>An immersive, pronounced sound atmosphere was required.</p>
          <h3>Design</h3>
          <p>Having a radical, pronounced and original UX design.</p>
        </div>
      </div>

      <div class="row content normal text-center">
        <div class="col-lg-12 col-xs-12">
          <img class="img-fluid" src="../img/projets/datatopia/sites.png">
        </div>
        <div class="col-lg-6 offset-lg-3 col-xs-12">
          <h3>Strategic technology watch</h3>
          <span>01. audioarchitecture.com.au</span>
          <span>02. byobmpls.net</span>
          <br>
          <span>03. pre.fonshickmann.com</span>
          <br>
          <span>04. nclud.com</span>
          <span>05. tineguenther.com</span>
        </div>
      </div>

      <div class="row content story">
        <div class="col-lg-6 offset-lg-3 col-xs-12">
          <h3>Navigation</h3>
          <p>The website is Datatopia 3.0 virtual exposition.</p>
          <p>Navigation is linear —like in a museum. The only option is to move forward by one step. There is no way to go back.</p>
          <p>As a pro, this navigation tells a story and controls the narrative from start to end; the visitor can focus on the story he is told.</p>
          <p>As a con, this navigation constrains the visitor, preventing him from creating his own path.</p>
          <h3>Sound</h3>
          <p>Like in a museum, the tour is animated by two speakers. Each one explain what Datatopia 3.0 is and how it has been accomplished.</p>
          <p>The experience is both visual and auditive.</p>
        </div>
      </div>

      <div class="row content text-center">
        <div class="col-lg-12 col-xs-12">
          <img class="img-fluid" src="../img/projets/datatopia/webdatatopia1.gif">
          <img class="img-fluid" src="../img/projets/datatopia/webdatatopia2bis.png">
          <img class="img-fluid" src="../img/projets/datatopia/webdatatopia4.png">
          <img class="img-fluid" src="../img/projets/datatopia/webdatatopia5.png">
          <img class="img-fluid" src="../img/projets/datatopia/webdatatopia6.png">
        </div>
        <div class="col-lg-12 col-xs-12">
          <a href="http://izzdesign.github.io/Datatopia3.0/"><span class="avara">voir le site</span></a>
        </div>
      </div>
    </div>
  </div>
{% include previous-next.html previous="fabulous.html" next="focal.html" padding="two" prev-title="Fabulous" next-title="Focal" %}
