---
layout: portfolio
title: Fabulous
---
{% include previous-next.html previous="modesettravaux.html" next="datatopia.html" padding="one" prev-title="Modes et travaux" next-title="Datatopia" %}

  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row content fabulous">
        <div class="col-lg-12 img-fluid text-center">
          <img src="../img/projets/fabulous/fabulous.png">
          <img src="../img/projets/fabulous/fabulous.gif" class="little">
          <img src="../img/projets/fabulous/fabulous3.png">
          <img src="../img/projets/fabulous/fabulous2.png">
          <img src="../img/projets/fabulous/fabulous4.png">
          <img src="../img/projets/fabulous/fab-news.png" class="little">
          <img src="../img/projets/fabulous/fabulous5.png">
        </div>
      </div>
    </div>
  </div>
{% include previous-next.html previous="modesettravaux.html" next="datatopia.html" padding="two" prev-title="Modes et travaux" next-title="Datatopia" %}
