---
layout: projet
title: Fabulous
---
{% include previous-next.html previous="modesettravaux.html" next="datatopia.html" padding="one" prev-title="Modes et travaux" next-title="Datatopia" %}

  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12">
      <div class="row content fabulous">
        <div class="col-lg-12 text-center">
          <img src="../img/projets/fabulous/fabulous.png">
          <img src="../img/projets/fabulous/fabulous.gif" id="little">
          <img src="../img/projets/fabulous/fabulous3.png">
          <img src="../img/projets/fabulous/fabulous2.png">
          <img src="../img/projets/fabulous/fabulous4.png">
          <img src="../img/projets/fabulous/fab-news.png">
          <img src="../img/projets/fabulous/fabulous5.png">
        </div>
      </div>
    </div>
  </div>
{% include previous-next.html previous="modesettravaux.html" next="datatopia.html" padding="two" prev-title="Modes et travaux" next-title="Datatopia" %}
