---
layout: portfolio
title: Focal
---
  {% include previous-next.html previous="endobujo.html" next="endonymous.html" padding="one" prev-title="endobujo" next-title="Endonymous" %}

<div class="row content focal">
  <div class="col-lg-12">
    <img src="../img/projets/focal/focal.png" class="img-fluid">
    <img src="../img/projets/focal/focal2.png" class="img-fluid">
  </div>
</div>
<div class="row center-vid">
  <div class="col-lg-12">
    <video class="img-fluid" src="../img/projets/focal/sw.mp4" controls controlsList="nodownload" poster="../img/projets/focal/poster-focal.jpg"></video>
  </div>
</div>
<div class="row content">
  <div class="col-lg-12">
    <img src="../img/projets/focal/focal4.png" class="img-fluid">
    <img src="../img/projets/focal/focal8.png" class="img-fluid">
    <img src="../img/projets/focal/focal9.png" class="img-fluid">
    <img src="../img/projets/focal/focal5.png" class="img-fluid">
    <img src="../img/projets/focal/focal7.png" class="img-fluid">
    <img src="../img/projets/focal/focal3.png" class="img-fluid">
  </div>
</div>
<div class="row center-vid">
  <div class="col-lg-12">
    <video class="img-fluid" src="../img/projets/focal/final-focal.mp4" controls controlsList="nodownload" poster="../img/projets/focal/poster-focal.jpg"></video>
  </div>
</div>
<div class="row content">
  <div class="col-lg-12">
    <img src="../img/projets/focal/focal6.png" class="img-fluid">
  </div>
</div>
  {% include previous-next.html previous="endobujo.html" next="endonymous.html" padding="two" prev-title="endobujo" next-title="Endonymous" %}
