---
layout: portfolio
title: GRDF
---
  {% include previous-next.html previous="sofinco.html" next="apicil.html" padding="one" prev-title="Sofinco" next-title="Apicil" %}
 
  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row text-center">
        <div class="col-lg-12 col-xs-12 title">
          <h3>GRDF</h3>
          <p>Création de Brand Content pour la page Facebook de GrDF.</p>
          <p>Creating Facebook brand content for GrDF.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>GrDF ou Gaz Réseau Distribution France est une société de distribution de gaz et le principal distributeur de gaz en France et en Europe. En fin d'année 2015, l'identité visuelle de GrDF a changé, l'entreprise en a profité pour lancer une page Facebook. L'entreprise voulait à travers cette page créer de l'engagement via des publications touchant un maximum l'actualité ou abordant des sujets spécifiques plus méconnus concernant le monde des gaziers. GrDF avait pour volonté de publier des contenus décalés et ludiques. La ligne graphique de ces publications a été créée en accord avec la nouvelle identité graphique de GrDF.</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>GrDF is a French company that is the main gas distributor in France and Europe. At the end of 2015, the GrDF's visual identity changed, and the company took the opportunity to launch a Facebook page. The organisation wanted to create engagement through this page , and talk on relatively unknown subjects in the gas world. The graphic identity of these publications has been created in accordance with GrDF new graphic identity with the will to implement staggered and entertaining publications.</p>
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <img class="img-fluid" src="../img/projets/grdf/grdf.png">
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12">
          <div class="detail">
            Date: Octobre 2015 - Avril 2016
            Client: GRDF
            Catégorie: Brand Content Facebook
            Prestataire: Conversationnel
          </div>
          <div class="detail">
            Date: October 2015 - April 2016
            Client: GRDF
            Category: Brand Content Facebook
            Agency: Conversationnel
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include previous-next.html previous="sofinco.html" next="apicil.html" padding="two" prev-title="Sofinco" next-title="Apicil" %}