---
layout: projet
title: Modes et Travaux
---
  {% include previous-next.html previous="focal.html" next="fabulous.html" padding="one" prev-title="Focal" next-title="Fabulous" %}

  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <img src="../img/projets/m-t/mt2.png">
      <img src="../img/projets/m-t/mt.png">
      <img src="../img/projets/m-t/mt1.png">

      <div class="row content text-center">
        <div class="col-lg">
          <video class="img-fluid" src="../img/projets/m-t/mai.mp4" controls controlsList="nodownload"></video>
        </div>
      </div>

      <div class="row content text-center">
        <div class="col-lg">
          <video class="img-fluid" src="../img/projets/m-t/mars.mp4" controls controlsList="nodownload"></video>
        </div>
      </div>
      <img src="../img/projets/m-t/mt3.png">
    </div>
  </div>

  {% include previous-next.html previous="focal.html" next="fabulous.html" padding="two" prev-title="Focal" next-title="Fabulous" %}
