---
layout: portfolio
title: Modes et Travaux
---
  {% include previous-next.html previous="illustrations.html" next="cycliques.html" padding="one" prev-title="Illustrations" next-title="Cycliques" %}

<div class="row content">
    <div class="col-lg-7">
      <div class="row content text-center">
        <div class="col-lg">
          <video class="img-fluid" src="../img/projets/m-t/mai.mp4" controls controlsList="nodownload"></video>
        </div>
      </div>
      <div class="row content text-center">
        <div class="col-lg">
          <video class="img-fluid" src="../img/projets/m-t/mars.mp4" controls controlsList="nodownload"></video>
        </div>
      </div>
    </div>
    <div class="col-lg-5 m-t">
      <h2>Modes & travaux</h2>
      <p class="sub">Vidéos facebook</p>
      <p>Modes & Travaux est un magazine mensuel de tendances créatives à réaliser soi-même : décoration, cuisine, mode, beauté...</p>
      <p>Pour la mise en avant de sa nouvelle formule sur les réseaux sociaux, le magazine a fait appel à l'agence Conversationnel pour créer du contenu créatif présentant le magazine en kiosque.</p>
      <p>La sortie du magazine a été accompagnée par une vidéo de présentation du numéro du mois, ainsi qu'une mise en avant des créations par des carousels thématiques (cuisine, mode...) et des formats Linkad Facebook générant du trafic vers le site et renouvelant l'engagement des fans pour le magazine.</p>
    </div>
</div>
<!-- <div class="row lies">
  <div class="col-lg-12">
    <h4>Projets similaires</h4>
  </div>
    <div class="col-lg focal">
      <a href="">
        <h5>Focal</h5>
        <img src="../img/focal.png" class="img-fluid">
        <div class="socle"></div>
      </a>
    </div>
    <div class="col-lg cycliques">
      <a href="">
        <h5>Cycliques</h5>
        <img src="../img/cycliques.png" class="img-fluid">
        <div class="socle"></div>
      </a>
    </div>
    <div class="col-lg datato">
      <a href="">
        <h5>Datatopia</h5>
        <img src="../img/datatopia.png" class="img-fluid">
        <div class="socle"></div>
      </a>
    </div>
    <div class="col-lg">
      <a href="">
        <h5></h5>
        <img src="">
        <div class="socle"></div>
      </a>
    </div>
</div> -->

  {% include previous-next.html previous="illustrations.html" next="cycliques.html" padding="two" prev-title="Illustrations" next-title="Cycliques" %}
