---
layout: portfolio
title: Modes et Travaux
---
  {% include previous-next.html previous="focal.html" next="conversationnel.html" padding="one" prev-title="Focal" next-title="Conversationnel" %}
 
  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row text-center">
        <div class="col-lg-12 col-xs-12 title">
          <h3>Modes&amp;Travaux</h3>
          <p>Campagne de présentation de la nouvelle formule de Modes&amp;Travaux</p>
          <p>Facebook campaign for Modes&amp;Travaux magazine.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Modes&amp;Travaux est un magazine mensuel de tendances créatives à réaliser soi-même : décoration, cuisine, mode, beauté...
            Pour la mise en avant de sa nouvelle formule sur les réseaux sociaux, le magazine a fait appel à l'agence Conversationnel pour créer du contenu créatif présentant le magazine en kiosque.
            La sortie du magazine a été accompagnée par une vidéo de présentation du numéro du mois, ainsi qu'une mise en avant des créations par des carousels thématiques (cuisine, mode...) et des formats Linkad Facebook générant du trafic vers le site et renouvelant l'engagement des fans pour le magazine.</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Modes&amp;Travaux is a monthly magazine with tutorials about creative trends: decoration, cooking, fashion, beauty,...To highlight the new design of the magazine on social networks, the Conversationnel agency made some content (videos, carousel, linkad...) each month in order to advertise about the magazine release in kiosque.</p>
          </div>
        </div>
      </div>

      <div class="row content text-center">
        <div class="col-lg">
          <video class="img-fluid" src="../img/projets/m-t/mai.mp4" controls controlsList="nodownload"></video>
        </div>
      </div>

      <div class="row content text-center">
        <div class="col-lg">
          <video class="img-fluid" src="../img/projets/m-t/mars.mp4" controls controlsList="nodownload"></video>
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <img class="img-fluid" src="../img/projets/m-t/m-t2.jpg">
        </div>
      </div>
    </div>
  </div>

    <div class="row content">
      <div class="col-lg-12 col-xs-12">
        <div class="detail">
          Date: Sept, Oct, Nov 2015 - Mars, Avril 2016
          Client: Modes et Travaux
          Catégorie: Brand Content Facebook
          Prestataire: Conversationnel
        </div>
        <div class="detail">
          Date: Sept, Oct, Nov 2015 - Mars, April 2016
          Client: Modes et Travaux
          Category: Brand Content Facebook
          Agency: Conversationnel
        </div>
      </div>
    </div>
  {% include previous-next.html previous="focal.html" next="conversationnel.html" padding="two" prev-title="Focal" next-title="Conversationnel" %}