---
layout: portfolio
title: Pages Jaunes
---
 
  {% include previous-next.html previous="cprint.html" next="sofinco.html" padding="one" %}
  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row text-center">
        <div class="col-lg-12 col-xs-12 title">
          <h3>Pages Jaunes</h3>
          <p>Création de Brand Content pour les Pages Jaunes.</p>
          <p>Creating Brand Content for the Pages Jaunes.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Les Pages jaunes sont un annuaire téléphonique regroupant les coordonnées de professionnels. Dans une volonté de mieux communiquer sur les nouvelles fonctionnalités Pages Jaunes, Conversationnel a créé une série de publications Facebook et Twitter, comiques et ludiques, qui ont permis de renouveler l'engagement du public pour les Pages Jaunes sur les réseaux sociaux, tout en modernisant la prise de parole du groupe.</p>
          </div>
          <div class="detail">
            <p>Date: Février 2015 - Avril 2016</p>
            <p>Client: Pages Jaunes</p>
            <p>Catégorie: Brand Content Facebook et Twitter</p>
            <p>Prestataire: Conversationnel</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Pages Jaunes is a really famous French directory for professionals. (Could be associated to the Irish Golden Pages) In an effort to communicate about new Golden Pages features, Conversationnel created a serie of Facebook and Twitter publications. The tone of those publications were comical and playful in order to renew public engagement for Pages Jaunes on social networks, while modernizing the group public perception.</p>
          </div>
          <div class="detail">
            <p>Date: Febuary 2015 - April 2016</p>
            <p>Client: Pages Jaunes</p>
            <p>Category: Brand Content Facebook and Twitter</p>
            <p>Agency: Conversationnel</p>
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <img class="img-fluid" src="../img/projets/pj/pages-jaunes.jpg">
        </div>
      </div>
    </div>
  </div>
  {% include previous-next.html previous="cprint.html" next="sofinco.html" padding="two" %}