---
layout: portfolio
title: Votre projet d'illustration
---
<div class="row article">
  <div class="col-lg-8 offset-lg-2 intro text-center">
    <h3>Vous avez un projet d'illustration</h3>
    <div class="row">
      <div class="col-md-8 offset-lg-2 section">
        <p>Spécialisée dans le dessin vectoriel, je peux vous accompagner dans vos projets d’illustrations.</p>
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/girl3.jpg">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/girl1.jpg">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/girl4.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-lg-2 section">
        <p>Le dessin vectoriel me permet de travailler sur des projets de goodies tels que des t-shirts, pins,...</p>
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/pin-vector.jpg">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/hoodies.jpg">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/musichead.png">
      </div>
    </div>

    <div class="row">

    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <p>Je travaille actuellement sur un projet personnel de jeu de société autour de la légende du roi Arthur. J’ai travaillé sur les cartes personnages ressemblant aux personnages de la série Kaamelott ainsi que sur le design de plateau et de cartes lieux,...</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="/img/projets/creation/kaamelot.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/kaamelot2.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/kaamelot3.png">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <p>Je publie depuis deux ans un roman graphique sur <a href="endonymous.fr" title="blog bd sur l'endométriose fait par Endonymous" alt="blog bd sur l'endométriose fait par endonymous">mon blog endonymous.fr </a>parlant de l’endométriose, une maladie chronique qui touche une femme sur dix.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="/img/projets/creation/artvsartist.jpg">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/endo1.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/endo2.png">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <p>Je peux vous accompagner dans vos projets pour la création de petites BD illustrées.</p>
      </div>
    </div>
    {% include contact.html %}
  </div>
</div>

<div class="row articles text-center">
  <div class="col-md-3 offset-md-3">
    <a href="../portfolio/projet-web.html">
      <img src="../img/index-portfolio/web.svg">
      <h3>Vous souhaitez faire votre site web</h3>
    </a>
  </div>
  <div class="col-md-3">
    <a href="../portfolio/projet-reseaux.html">
      <img src="../img/index-portfolio/seo.svg">
    <h3>Vous souhaitez des visuels pour vos réseaux sociaux</h3>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-md-6">
    {% include back.html %}
  </div>
</div>
