---
layout: portfolio
title: Votre projet web
---
<div class="row article">
  <div class="col-lg-8 offset-lg-2 intro">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <h3>Vous avez un projet de webdesign</h3>
        <p>Vous avez pour projet de créer votre site web pour présenter votre activité ou bien de changer le design de votre site web actuel. Voici les quelques étapes nécessaire à la création d'un site web</p>
        <h4>Discussions</h4>
        <p>Un premier contact téléphonique sera nécessaire pour discuter de vos besoins et de vos envies, de ce qu’il est possible de faire techniquement et de vos options. Cette discussion m’aidera pour vous proposer un budget correspondant à ce que vous souhaitez mettre en place.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <h4>Devis</h4>
        <p>Après discussion, je vous ferais parvenir un ou plusieurs devis détaillés en fonction de vos besoins.</p>
        <p>Ces devis contiennent généralement la création, l’exécution et de déploiement du site web.
        Ils pourront également contenir des budgets pour l’achat de photos ou de sons ainsi que la création d’une charte graphique complète.</p>
        <p>Une fois d’accord sur le devis, je vous demanderais un paiement de 30% du prix avant la livraison.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <img src="/img/projets/creation/choltraiteur.png" class="info">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <h4>Maquettes</h4>
        <p>Après visualisation des maquettes, nous pourrons discuter des modifications à faire pour celles-ci et choisir celle qui vous conviendra au mieux.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <h4>Retours</h4>
        <p>Après visualisation des maquettes, nous pourrons discuter des modifications à faire pour celles-ci et choisir celle qui vous conviendra au mieux.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <img src="/img/projets/creation/web.png" class="info2">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <h4>Intégration</h4>
        <p>Une fois tous les retours fait, la maquette est validée et la création du site peut commencer.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <img src="/img/projets/creation/abc.png" class="info">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 offset-lg-2 section">
        <h4>Mise en ligne</h4>
        <p>Après que vous ayez choisi votre hébergement ainsi que votre nom de domaine, je pourrais procéder à la mise en ligne de votre site.</p>
      </div>
    </div>
    {% include contact.html %}
  </div>
</div>

<div class="row articles text-center">
  <div class="col-md-3 offset-md-3">
    <a href="../portfolio/projet-reseaux.html">
      <img src="../img/index-portfolio/seo.svg">
      <h3>Vous souhaitez des visuels pour vos réseaux sociaux</h3>
    </a>
  </div>
  <div class="col-md-3">
    <a href="../portfolio/projet-illu.html">
      <img src="../img/index-portfolio/drawing.svg">
    <h3>Vous avez un projet d’illustration</h3>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-md-6">
    {% include back.html %}
  </div>
</div>
