---
layout: portfolio
title: Votre projet social media
---
<div class="row article">
  <div class="col-lg-8 offset-lg-2 intro text-center">
    <h3>Vous avez un projet social media</h3>
    <div class="row">
      <div class="col-md-8 offset-lg-2 section">
        <p>Spécialisée dans la communication sur les réseaux sociaux, je peux vous accompagner pour la créations de visuels percutants, de jeux ou de vidéos.</p>
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/res1.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/res2.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/res3.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/res4.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/res5.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/res6.png">
      </div>
      <div class="col-md-6">
        <img src="/img/projets/creation/res7.png">
      </div>
      <div class="col-md-6">
        <img src="/img/projets/creation/res8.png">
      </div>
    </div>
    <div class="row section">
      <div class="col-md-6 offset-md-3">
        <video class="img-fluid" src="../img/projets/focal/final-focal.mp4" controls controlsList="nodownload" poster="../img/projets/focal/poster-focal.jpg"></video>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-lg-2 section">
        <p>Je gère depuis quelques années les réseaux sociaux d'une communauté sur l'endométriose.</p>
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/8mars.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/pasnormal.png">
      </div>
      <div class="col-md-4">
        <img src="/img/projets/creation/saint-val.png">
      </div>
    </div>
    {% include contact.html %}
  </div>
</div>

<div class="row articles text-center">
  <div class="col-md-3 offset-md-3">
    <a href="../portfolio/projet-web.html">
      <img src="../img/index-portfolio/web.svg">
      <h3>Vous souhaitez faire votre site web</h3>
    </a>
  </div>
  <div class="col-md-3">
    <a href="../portfolio/projet-illu.html">
      <img src="../img/index-portfolio/drawing.svg">
    <h3>Vous avez un projet d’illustration</h3>
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-3 offset-md-6">
    {% include back.html %}
  </div>
</div>
