---
layout: portfolio
title: Sofinco
---
  {% include previous-next.html previous="pagesj.html" next="grdf.html" padding="one" %}

  <div class="row content">
    <div class="col-lg-8 offset-lg-2 col-md-12">
      <div class="row text-center">
        <div class="col-lg-12 col-xs-12 title">
          <h3>Sofinco</h3>
          <p>Création de marbres éditoriaux pour les réseaux sociaux de Sofinco.</p>
          <p>Creating brand contents for Sofinco social networks.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Sofinco est un organisme d'aide au crédit à la consommation et prêts personnels. L'agence Conversationnel se charge de la communication et du community management sur les différents réseaux sociaux de Sofinco. Chaque mois une série de publications est réalisée afin de communiquer sur les besoins et la consommation des Français. Ces publications agrémentent durant tout le mois les pages Facebook et Twitter de Sofinco, surfant sur les actualités et tendances du mois. L'identité graphique de Sofinco a évolué à partir de l'année 2016, de ce fait les publications ont été pensées de manière plus épurée et design.</p>
          </div>
          <div class="detail">
            <p>Date: Octobre 2015 - Avril 2016</p>
            <p>Client: Sofinco</p>
            <p>Catégorie: Brand Content Facebook et Twitter</p>
            <p>Prestataire: Conversationnel</p>
          </div>
        </div>

        <div class="col-lg-6 col-sm-12">
          <span class="talk"><i class="fa fa-square" aria-hidden="true"></i></span>
          <div class="expl">
            <p>Sofinco is a french firm focusing on consumer credit and loan. Conversationnel agency is in charge of communication and community managemen on social networks for the Sofinco brand. Each month a series of publications is made to communicate about average French consumption and economic values. Those values are released along the month on Facebook and Twitter, depending on news and trends. Since 2016, the graphic identity of Sofinco has evolved, therefore the new publications started to be more refined.</p>
          </div>
          <div class="detail">
            <p>Date: October 2015 - April 2016</p>
            <p>Client: Sofinco</p>
            <p>Category: Brand Content Facebook and Twitter</p>
            <p>Agency: Conversationnel</p>
          </div>
        </div>
      </div>

      <div class="row content">
        <div class="col-lg-12 col-xs-12 text-center">
          <!-- <img class="img-fluid" src="../img/projets/sofinco/sofinco-marbres.jpg"> -->
          <img class="img-fluid" src="../img/projets/sofinco/sofinco-marbres2.jpg">
        </div>
      </div>
    </div>
  </div>
  {% include previous-next.html previous="pagesj.html" next="grdf.html" padding="two" %}