<!DOCTYPE html>
<html lang="en">
<head>
  <title>IzzDesign</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Isabelle Dulin Portfolio">

  <link rel="shortcut icon" href="../img/favicon.ico">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/design.css">
  <link rel="stylesheet" type="text/css" href="../css/portfolio.css">
  <link rel="stylesheet" type="text/css" href="../src/css/swipebox.css">
  <script async defer data-domain="izzdesign.fr" src="https://t.neamar.fr/js/plausible.js"></script>
</head>
<body>
  <div class="bandeau">
    <a class="navbar-brand" href="../index.html">
      <img src="../img/logo.svg">
      <h1>Isabelle Dulin</h1>
    </a>
    <h3>Illustratrice Web-designer Storyteller</h3>
    <div class="reseaux">
      <a href="https://github.com/izzdesign"><img src="../img/git.svg" width="25" height="25"></a>
      <a href="/contact.html"><img src="../img/mail.svg" width="25" height="25"></a>
    </div>
  </div>
  
  {{content}}
    <footer>
      <h4>Contact</h4>
      <div>
        <a href="/contact.html" class="button contact">
          <span>contactez-moi →</span>
        </a>
      </div>
      <h4>Blog participatif</h4>
      <div>
        <a href="https://hysteresis.blog" class="button">
          <span>hysteresis.blog</span>
        </a>
      </div>
      <div class="reseaux">
        <a href="https://github.com/izzdesign"><img src="../img/git.svg" width="25" height="25"></a>
        <a href="/contact.html"><img src="../img/mail.svg" width="25" height="25"></a>
      </div>
    </footer>
    <script src="../src/js/jquery-3.5.1.min.js"></script>
    <script src="../src/js/jquery.swipebox.js"></script>
    <script type="text/javascript">
      ;( function( $ ) {

        $( '.swipebox' ).swipebox();

      } )( jQuery );
    </script>
  </body>
</html>